/*!************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/_css-loader@6.6.0@css-loader/dist/cjs.js!../../node_modules/_less-loader@10.2.0@less-loader/dist/cjs.js!./src/less/index.less ***!
  \************************************************************************************************************************************************************/
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
.wrap {
  width: 668px;
  border: #f3f3f3 3px solid;
  margin: 0 auto;
  margin-top: 50px;
}
.wrap #topList {
  display: flex;
  flex-direction: row;
  height: 30px;
}
.wrap #topList li {
  line-height: 30px;
}
.wrap #topList #comment {
  margin-right: 30px;
  font-size: 20px;
}
.wrap #myForm {
  display: flex;
}
.wrap #myForm #inputText {
  width: 80%;
  height: 100px;
  margin-left: 30px;
  margin-top: 30px;
}
.wrap #myForm #commitComment {
  display: block;
  margin-left: 30px;
  padding: 0 20px;
  margin-top: 30px;
  height: 40px;
}
.wrap #commentList li {
  margin-top: 20px;
}

